h1 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.Timer {
    text-align: right; 
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.scoreKeep {
    text-align: left;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', Verdana, sans-serif;
}

body {
    width: 600px;
    margin: auto;
    background: radial-gradient(rgb(248, 208, 134), rgb(155, 98, 108));
}

.cards {
    background-color: black;
    height: 175px;
    width: 120px;
    border: 1px solid yellow;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    
    

}

.allFlipCards {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    width: 700px;
    justify-content: space-between;
    
    

    /* grid-template-columns: repeat(4, auto); */

    /* border: 2px solid red;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px 150px; */
    
}